body {
    background-color: #f1f1f1;
}

.nav-main {
    width: 100%;
    height: 60px;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    /* flex is what is used nowadays instead of fload and flex wrap is used to place the contents next to each other */
    z-index: 1000;
}

.btn-toggle-nav {
    width: 60px;
    height: 100%;
    background-color: #f98f39;
    background-image: url("");
}